<div class="mx-auto md:w-2/3 w-full divide-y-2">
  <div class="pb-8">
    <h1 class="font-bold text-4xl">Edit <%= resource_name.to_s.humanize %></h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, class: "contents") do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="my-5">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>
      <div class="my-5">
        <%= f.label :name %>
        <%= f.text_field :name, autocomplete: "name",class:"block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>
      <div class="my-5">
        <%= f.label :username %>
        <%= f.text_field :username, autocomplete: "username",class:"block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="my-5">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
        <%= f.password_field :password, autocomplete: "new-password",class:"block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>
      <div class="my-5">
        <% if resource.photo.attached? %>
          <%= image_tag resource.photo.variant(:thumb), class: "rounded-full" %>
        <% end %>
        <%= f.label :photo %>
        <%= f.file_field :photo,class:"block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>
      <div class="my-5">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>
      <div class="my-5">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
        <%= f.password_field :current_password, autocomplete: "current-password",class:"block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>
      <div class="inline">
        <%= f.submit "Update",class:"rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
      </div>
    <% end %>
  </div>
  <div class="pt-8">
    <h1 class="font-bold text-4xl">Cancel my account</h1>
    <p>Unhappy?</p>
    <%= button_to "Cancel my account", registration_path(resource_name), form: { data: { turbo_confirm: "Are you sure?" } }, method: :delete,class:"rounded-lg py-3 px-5 bg-red-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
  <%= link_to "Back", root_path,class: "rounded-lg py-3 px-5 bg-gray-100 font-medium inline-block mt-4" %>
</div>
