<div class="mx-auto md:w-2/3 w-full divide-y-2">
  <div class="pb-8">
    <h1 class="font-bold text-4xl">Edit <%= resource_name.to_s.humanize %></h1>
    <%= styled_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}, class: "contents") do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.text_control :email, input_html: {autofocus: true, autocomplete: "email"} %>
      <%= f.text_control :name, input_html: {autocomplete: "name"} %>
      <%= f.text_control :username, input_html: {autocomplete: "username"} %>
      <%= f.text_control :password, input_html: {autocomplete: "new-password", minlength: @minimum_password_length} %>
      <%= f.text_control :password_confirmation, input_html: {autocomplete: "new-password", minlength: @minimum_password_length} %>
      <% if resource.photo.attached? %>
        <%= image_tag resource.photo_as_thumbnail, class: "rounded-full" %>
      <% end %>
      <%= f.file_control :photo %>
      <%= f.text_control :current_password, input_html: {autocomplete: "current-password"} %>
      <%= f.submit_control "Update" %>
    <% end %>
  </div>
  <div class="pt-8">
    <h1 class="font-bold text-4xl">Cancel my account</h1>
    <p>Unhappy?</p>
    <%= button_to "Cancel my account", registration_path(resource_name), form: {data: {turbo_confirm: "Are you sure?"}}, method: :delete, class: "btn btn-error" %>
  </div>
  <%= link_to "Back", root_path, class: "btn btn-ghost mt-4" %>
</div>
