<%= nav_link_to root_path do %>
  <%= svg_icon("view_grid") %>
  Feed
<% end %>
<%= nav_link_to explore_path do %>
  <%= svg_icon("search") %>
  Explore
<% end %>
<%= nav_link_to "/m" do %>
  <%= svg_icon("paper_airplane") %>
  Messages
<% end %>
<%= nav_link_to "/stats" do %>
  <%= svg_icon("chart_bar") %>
  Stats
<% end %>
<%= nav_link_to edit_user_registration_path do %>
  <%= svg_icon("cog") %>
  Settings
<% end %>
<div class="divider"></div>
<li>
  <%= button_to destroy_user_session_path, method: :delete, form:{class: "contents"}, class:"flex gap-3 py-3 px-4 items-center hover:bg-white/10 rounded-lg transition-colors duration-200" do %>
    <%= svg_icon("logout") %>
    Logout
  <% end %>
</li>
