<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Forgot your password?</h1>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, class: "contents") do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="my-5">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    <div class="inline">
      <%= f.submit "Reset password",class:"rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
