<%= styled_form_with(model: post, class: "contents") do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_control :caption, input_html: {autofocus: true} %>
  <%= f.file_control :photos,input_html: {accept: 'image/png,image/jpeg,image/jpg', multiple: true} %>
  <%= f.submit_control "Create post" %>
<% end %>
