<div id="<%= dom_id post %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= link_to post.user.username, profile_path(post.user.username) %>
  </p>
  <% post.photos.each do |photo|%>
    <%= image_tag action_name == "show" ? post.photo_as_original(photo) : post.photo_as_thumbnail(photo) %>
  <% end %>
  <p class="my-5">
    <strong class="block font-medium mb-1">Caption:</strong>
    <%= post.caption %>
  </p>
  <% if action_name != "show" %>
    <%= link_to "Show this post", post, class: "btn btn-accent" %>
    <% if post.user == current_user %>
      <%= link_to 'Edit this post', edit_post_path(post), class: "btn btn-primary ml-2" %>
    <% end %>
    <hr class="mt-6">
  <% end %>
</div>
