<div id="<%= dom_id post %>">
  <div class="carousel rounded-box">
    <% post.photos.each do |photo|%>
      <%= image_tag action_name == "show" ? post.photo_as_original(photo) : post.photo_as_thumbnail(photo), class:"w-full" %>
    <% end %>
  </div>
  <div class="flex justify-between my-3">
    <%= link_to profile_path(post.user.username), class:"block flex items-center gap-3" do %>
      <div class="avatar">
        <div class="w-6 rounded-full ring-2 ring-primary ring-offset-base-100 ring-offset-2">
          <%= image_tag post.user.photo_as_avatar %>
        </div>
      </div>
      <span class="text-sm"><%= post.user.username %></span>
    <% end %>
    <div class="flex items-center gap-2">
      <% if Like.where(post: post, user: current_user).exists? %>
        <%= button_to destroy_like_path(post), method: :delete,class:"flex items-center gap-1" do %>
          <div class="w-4 h-4 rounded-full bg-red-300"></div>
          <span class="text-sm"><%= number_to_human_shortcut(post.likes.size) %></span>
        <% end %>
      <% else %>
        <%= button_to new_like_path(post), method: :post,class:"flex items-center gap-1" do %>
          <div class="w-4 h-4 rounded-full border-red-300 border-2"></div>
          <span class="text-sm"><%= number_to_human_shortcut(post.likes.size) %></span>
        <% end %>
      <% end %>
      <%= link_to post_path(post), class:"flex items-center gap-1" do %>
        <div class="w-4 h-4 rounded-full bg-blue-300"></div>
        <span class="text-sm"><%= number_to_human_shortcut(post.comments.size) %></span>
      <% end %>
    </div>
  </div>
</div>
