<!DOCTYPE html>
<html>
  <head>
    <title>Photoverse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <% if not devise_controller? or (controller_name == "registrations" and action_name == "edit") %>
      <div class="drawer drawer-mobile bg-base-300">
        <input id="drawer-checkbox" type="checkbox" class="drawer-toggle">
        <main class="drawer-content flex flex-col bg-base-100 lg:rounded-l-box py-2 px-16">
          <%= render "layouts/navbar" %>
          <%= yield %>
        </main>
        <%= render "sidebar/drawer_side" %>
      </div>
      <%= render "layouts/new_post_modal" %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
