<!DOCTYPE html>
<html>
  <head>
    <title>Photoverse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <% if not devise_controller? or (controller_name == "registrations" and action_name == "edit") %>
      <header class="w-full bg-gray-100 sticky top-0 shadow">
        <%= render "layouts/navbar" %>
      </header>
    <% end %>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
