<!DOCTYPE html>
<html>
  <head>
    <title>Photoverse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <% if not devise_controller? or (controller_name == "registrations" and action_name == "edit") %>
      <header class="sticky top-0 shadow bg-base-200">
        <%= render "layouts/navbar" %>
      </header>
    <% end %>
    <main class="p-8">
      <%= yield %>
    </main>
  </body>
</html>
